@import "tailwindcss";

:root {
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

@import "@fontsource/fredoka"; 

.font-fredoka {
  font-family: 'Fredoka', sans-serif;
}

.generate-bg {
  background-image: url('/generate-bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

body {
  background-color: transparent;
  color: var(--foreground);
  font-family: 'Fredoka', sans-serif;
}


/* .ai-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh; 
  z-index: -1;
  background: radial-gradient(circle at 30% 30%, #00f0ff33, transparent 50%),
              radial-gradient(circle at 70% 60%, #b800f933, transparent 50%);
  animation: moveBg 20s ease-in-out infinite alternate;
  filter: blur(100px);
  pointer-events: none;
}

@keyframes moveBg {
  0% {
    background-position: 30% 30%, 70% 60%;
  }
  100% {
    background-position: 35% 35%, 65% 55%;
  }
}

@keyframes rainbowShift {
  0% { background-position: 0% 50%; }
  100% { background-position: 100% 50%; }
} */